.token-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #0D2231;
    border-radius: 8px;
    padding-left: 20px;
    margin-top: 10px;
}

.address {
    font-weight: 300;
}

.address-value {
    font-weight: 100;
    padding-right: 10px;
}
